


  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
    <h1><%= @question.title %></h1>
    <p><%= @question.description %></p>
    <div class="actions">

    <% if signed_in? && @question.user == current_user %>
<div class="actions">
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_question_path(@question) %>
  <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
</div>
<% end %>
  
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="votes">
          <h2>Votos</h2>
        </div>

        <div class="comments">
          <h2>Respuestas</h2>


          <% @question.answers.each do |answer| %>
  <div class="panel panel-default">
    <header class="panel-heading"><img src="<%= Gravatar.new("#{answer.user.email}").image_url %>" class="img-circle" /> <%= answer.user.name %></header>
    <div class="panel-body"><%= answer.description %></div>
  </div>
<% end %>

<% if signed_in? %>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :description, class: "form-control", placeholder: "Agregar comentario" %>
    </div>

    <div class="actions text-right">
      <%= f.submit "Comentar", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>      

        </div>
      </div>
    </div>
  </div>
  </div>
