
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="question">
        
        <div class="question-title">
      
        
        <div class="question-summary">
          <div class="cp">
            <div class="question-votes">
              <%= render partial: "questions/vote", locals: {objectVote: @question} %>
            </div>
          </div>
          
          <div class="summary">
            <div class="question-body">
              <span class="question-description"><%= @question.description%></span>
            </div>
            
            <div class"comments">
              <h3><%= @question.comments.count %> - Comentario(s)</h3>
            </div>
            
            <%= render partial: "questions/comments", locals: {comments: @question.comments} %>
            <%= render partial: "questions/comments_form", locals: {objectComment: @question} %>
            
          </div>
        </div>
        
        <div class="aquestion">
          <h3><%= @question.answers.count %> - Respuesta(s)</h3>
        </div>
        
        <% @question.answers.each do |answer| %>
        
          <div class="question-summary">
            <div class="cp">
              <div class="question-votes">
                <%= render partial: "questions/vote", locals: {objectVote: answer} %>
              </div>
            </div>
            
            <div class="summary">
              
              <div class="question-body">
                <span class="question-description"><%= answer.description%></span>
              </div>
              
              <div class= "comments">
                <h3><%= answer.comments.count %> - Comentario(s)</h3>
              </div>
              
              <%= render partial: "questions/comments", locals: {comments: answer.comments} %>
              <%= render partial: "questions/comments_form", locals: {objectComment: answer} %>
              
            </div>   
          </div>  
          
        <% end %>
      
        <div class="form-question">
          
          <% if signed_in? %>
            <%= form_for [@question, @question.answers.build] do |f| %>
            
              <div class="form-group">
                <%= f.text_area :description, class: "form-control", placeholder: "Agregar Respuesta" %>
              </div>
          
              <div class="actions text-right">
                <%= f.submit "Responder", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
          
         
        </div>
        
      </div>
    </div>
  </div>
</div>